.brand-name {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.center {
    margin: auto;
    text-align: center;
}

svg {
    /*margin-left+ 5px;*/
}

.z-1000 {    
    z-index: 1000;
}

.bg-navbar {
    background-color: #FAF9F6;
}