.brand-name {
    font-family: Geneva, Tahoma, Verdana, sans-serif;
    font-weight: bold;
}

.center {
    margin: auto;
    text-align: center;
}

.padding-icon {
    padding-left: 5%;
}

.m-20 {
    margin-right: 18%;
}

.m-30 {
    margin-right: 27%;
}
